/*Style général*/

*
{
    margin: 0;
}

body
{
    max-width: 100vw;
    background-color: rgb(252, 243, 231);
}

a
{
    text-decoration: none;
    color: black;
}

nav
{
    display: flex;
    justify-content: center;
    background-color: white;
}

header
{
    display: flex;
    justify-content: center;
    padding: 2%;
}


/*Style pour la page index*/

#characters__index
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#characters__index a
{
    display: flex;
    justify-content: center;
}

.img_perso_index
{
    height: 60vh;
}


/*Style de la page perso_hp*/

#perso
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#img_perso
{
    height: 97.7vh;
    max-width: 45vw;
    object-fit: cover;
    margin-left: 3%;
}

#description
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    padding: 30px;
}


/*Style de la page filtre_hp*/

#characters_maison
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#characters_maison a
{
    margin: 3%;
    display: flex;
    justify-content: center;
}

#maison_select
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2%;
}


/*Style des cartes*/

.carte_characters
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black;
    height: 600px;
    width: 400px;
    background-color: white;
    border-radius: 30px;
    margin-top: 10%;
    padding: 4%;
    padding-top: 4%;
}

.carte_characters:hover
{
    outline: solid 2px red;
    transform: scale(1.06);
}

.carte_characters img
{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    min-width: 90%;
    min-height: 90%;
}

#carte_nom
{
    padding-top: 30px;
}


/*Style du bouton retour*/

#bouton_retour
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: white;
    padding-right: 2vw;
}




/*Responsive*/
@media all and (max-width: 1024px)
{
    /*Responsive page perso_hp*/
    #perso
    {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #img_perso
    {
        min-width: 90%;
        min-height: 90%;

        max-width: 45vw;
        object-fit: cover;
        margin-left: 3%;
        height: 100%;
    }

    #description
    {
        margin: 0%;
    }
}

@media all and (max-width: 480px)
{
    /*Responsive page index*/
    #characters__index
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    /*Responsive page pers_hp*/
    #perso
    {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #img_perso
    {
        min-width: 90%;
        min-height: 90%;
    }

    #description
    {
        margin: 0%;
    }
}